<section id="profissional">
    <div class="container">
        <h1 id="titleProfissional"><span id="lightsub">PROFESSIONAL</span> CARRIER</h1>
        <div id="profissionalContainer">
            <div class="row" id="list">
                <div class="col-2" id="topicPhoto">
                    <img id="topic" src="code.png" alt="">
                </div>
                <div class="col-8" id="topicInfo">
                    <p class="text-muted">01/07/2021 – 31/07/2021</p>
                    <h2>Summer Internship</h2>
                    <p class="text-muted">ITI (Interactive Tecnologies Institute)</p>
                    <p class="fs-5">
                        - This internship is about development programming features in components of the Dynamic 
                        Information System Modeller and Executer (DISME) platform, promoted by the ITI/ARDITI/UMa 
                        business engineering laboratory with professor (PhD) David Aveiro.
                    </p>
                    <p class="fs-5">
                        - The goal is to use the ag-grid functionality to edit values inserted in a table and showing 
                        different ways to do that, witch depends on the value type of the property in question.
                    </p>
                    <p class="fs-5">- Programming languages: PHP and TypeScript</p>
                    <p class="fs-5">- Frameworks: Laravel and Angular</p>
                    <a class="btn btn-outline-dark" href="http://eelab.m-iti.org/">More information</a>
                </div>
            </div>
        </div>
    </div>
</section>