<section id="profile">
    <div class="container">
        <div class="row">
            <div class="col-7" id="first">
                <h1 id="titleProfile">
                    Hi, <span id="light"> I'm Francisco </span><br> 
                    I'm a <span id="light">programmer</span><br> 
                    who likes to <span id="light">learn</span> and<br> 
                    loves <span id="light">new challenges</span> 
                </h1>
            </div>
            <div class="col-5" id="second">
                <p class="fs-4">
                    I'm Francisco, I'm 23 years old and I'm in my last year in Computer Engineering at
                    the University of Madeira. Over the years as a student at UMa I was able to learn
                    several programming languages, which allowed me to develop my cognitive ability,
                    as better understand the logic behind how things work. 
                </p>
                <p class="fs-4">
                    As a student, I was able to
                    improve my communication skills, in order to be open to new discussions and
                    points of view. I characterize myself as a motivated, persistent person, with the
                    objective of learning new things every day.
                </p>
            </div>
        </div>
    </div>
</section>