<div class="container visually-hidden" id="pt">
    <h1 id="titleAcademic"><span id="lightsub">PERCURSO </span>ACADÉMICO</h1>
    <div id="academicContainer">
        <div class="row" id="list">
            <div class="col-2" id="topicPhoto">
                <img id="topic" src="img/code.png" alt="">
            </div>
            <div class="col-8" id="topicInfo">
                <p class="text-muted">14/09/2018 – o momento</p>
                <h2>Licenciatura em Engenharia Informatica</h2>
                <p class="text-muted"">Universidade da Madeira</p>
                <a class="btn btn-outline-dark" href="https://www.uma.pt/ensino/1o-ciclo/licenciatura-em-engenharia-informatica/">Mais informação</a>
            </div>
        </div>
        <div class="row" id="list">
            <div class="col-2" id="topicPhoto">
                <img id="topic" src="img/code.png" alt="">
            </div>
            <div class="col-8" id="topicInfo">
                <p class="text-muted">01/2022 – 02/2022</p>
                <h2>The Web Developer BootCamp 2022</h2>
                <p class="text-muted">Udemy, Cursos Online</p>
                <p class="fs-5" id="aboutText">
                    - Curso online de 63 horas sobre desenvolvimento web, no qual ensina a construir um website
                    usando ferramentas como HTML, CSS, JS, NodeJS, Express, MongoDB e muito mais.
                </p>
                <a class="btn btn-outline-dark" href="https://www.udemy.com/course/the-web-developer-bootcamp/">Mais informação</a>
            </div>
        </div>
        <div class="row" id="list">
            <div class="col-2" id="topicPhoto">
                <img id="topic" src="img/code.png" alt="">
            </div>
            <div class="col-8" id="topicInfo">
                <p class="text-muted">14/09/2017 – 16/06/2018</p>
                <h2>Licenciatura em Economia (1º ano)</h2>
                <p class="text-muted"">Universidade da Madeira</p>
                <a class="btn btn-outline-dark" href="https://www.uma.pt/ensino/1o-ciclo/licenciatura-em-economia/">Mais informação</a>
            </div>
        </div>
    </div>
</div>