<div class="container visually-hidden" id="pt">
    <h1 id="titleProfissional">CARREIRA<span id="lightsub"> PROFISSIONAL</span></h1>
    <div id="profissionalContainer">
        <div class="row" id="list">
            <div class="col-2" id="topicPhoto">
                <img id="topic" src="img/code.png" alt="">
            </div>
            <div class="col-8" id="topicInfo">
                <p class="text-muted">01/07/2021 – 31/07/2021</p>
                <h2>Estágio de Verão</h2>
                <p class="text-muted">ITI (Interactive Tecnologies Institute)</p>
                <p class="fs-5" id="aboutText">
                    - Neste estágio trabalhei no desenvolvimento de features em componentes da plataforma 
                    Dynamic Information System Modeller and Executer (DISME) utilizando tecnologias como 
                    Laravel (PHP) e Angular (TypeScript), sob orientação de David Aveiro (PhD), promovido 
                    pelo Laboratório de Engenharia e Negócios ITI/ARDITI/UMa.
                </p>
                <a class="btn btn-outline-dark" href="http://eelab.m-iti.org/">Mais Informação</a>
            </div>
        </div>
    </div>
</div>