<ul class="navbar-nav visually-hidden" id="pt">
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#main">Início</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#profile">Sobre mim</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#academic">Percurso Académico</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#profissional">Carreira Profissional</a>
    </li>
</ul>