<div id="pt" class="visually-hidden">
    <div class="row" id="pt">
        <div class="col-5" id="first">
            <h1 id="titleProfile">
                Olá, chamo-me <span id="light"> Francisco</span><br> 
                sou<span id="light"> um programador</span><br> 
                que gosta de <span id="light">aprender</span> e<br> 
                adora <span id="light">novos desafios</span> 
            </h1>
        </div>
        <div class="col-6" id="second">
            <p class="fs-4">
                Sou o Francisco, tenho 23 anos, atualmente encontro-me no último ano da Licenciatura em Engenharia Informática na 
                Universidade da Madeira e a realizar um estágio curricular na Nearsoft Solutions. Ao longo da minha 
                licenciatura pude aprender várias linguagens de programação, o que permitiu desenvolver a minha capacidade 
                cognitiva e também entender como diferentes lógicas, tecnologias e linguagens de programação se conectam 
                umas com as outras. 
            </p>
            <p class="fs-4">
                Considero-me um profissional com uma boa capacidade de comunicação, aberto a novas discussões e pontos de 
                vista. Sou uma pessoa organizada, motivada, persistente e com o objetivo de evoluir 
                a cada novo desafio, quer a nível profissional como a nível pessoal. Gosto de aprender novas tecnologias e 
                aperfeiçoar o meu conhecimento, de forma a encontrar-me atualizado com as necessidades de hoje em dia.
            </p>
            <a class="btn btn-outline-dark" download="docs\FranciscoGouveia_EN_CV.pdf.pdf" href="docs\FranciscoGouveia_EN_CV.pdf">Curriculum Vitae</a>
        </div>
    </div>
</div>