<div class="container" id="en">
    <h1 id="titleProfissional"><span id="lightsub">PROFESSIONAL</span> CARRIER</h1>
    <div id="profissionalContainer">
        <div class="row" id="list">
            <div class="col-2" id="topicPhoto">
                <img id="topic" src="img/code.png" alt="">
            </div>
            <div class="col-8" id="topicInfo">
                <p class="text-muted">01/07/2021 – 31/07/2021</p>
                <h2>Summer Internship</h2>
                <p class="text-muted">ITI (Interactive Tecnologies Institute)</p>
                <p class="fs-5" id="aboutText">
                    - In this internship I worked on the development of programming features in components of 
                    the Dynamic Information System Modeller and Executer (DISME) platform using technologies 
                    like Laravel (PHP) and Angular (TypeScript), under supervision of David Aveiro (PhD), promoted 
                    by the ITI/ARDITI/UMa business engineering laboratory.
                </p>
                <a class="btn btn-outline-dark" href="http://eelab.m-iti.org/">More information</a>
            </div>
        </div>
    </div>
</div>