<div class="container" id="en">
    <h1 id="titleContact"><span id="lightsub"> CONTACT </span>ME</h1>
    <p class="text-muted" id="contactMe">If you have any questions, let me know</p>
    <div id="info-address">
        <div class="row mx-auto">
            <div class="col" id="col-linkedin">
                <span class="fa fa-linkedin-square" id="symbol-linkedin"></span>
                <div id="info-linkedin">
                    <p>Linkedin</p>
                    <a class="text-muted" href="">[click here]</a>
                </div>
            </div>
            <div class="col" id="col-email">
                <span class="fa fa-at" id="symbol-email"></span>
                <div id="info-email">
                    <p>Email</p>
                    <p class="text-muted">fran_gou@hotmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>