<ul class="navbar-nav" id="en">
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#main">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#profile">About me</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#academic">Academic Path</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#profissional">Professional Carrier</a>
    </li>
    <li class="nav-item">
        <button type="button" onclick="changePortuguese()" class="btn nav-link btn-trans">Mudar para Português</button>
    </li>
</ul>
