<div id="en">
    <div class="row">
        <div class="col-5" id="first">
            <h1 id="titleProfile">
                Hi, <span id="light"> I'm Francisco</span><br> 
                I'm a <span id="light">programmer</span><br> 
                who likes to <span id="light">learn</span> and<br> 
                loves <span id="light">new challenges</span> 
            </h1>
        </div>
        <div class="col-6" id="second">
            <p class="fs-4" id="aboutText">
                I'm Francisco, I'm 23 years old, currently in the last year of the Degree in Informatics 
                Engineering at the University of Madeira and doing a university internship at Nearsoft 
                Solutions. Throughout my degree I was able to learn several programming languages, 
                which allowed me to develop my cognitive ability and also to understand how different 
                logics, technologies and programming languages connect with each other.
            </p>
            <p class="fs-4" id="aboutText">
                I possess good communication skills and am open to new discussions and points of view. I 
                am organized, motivated, persistent person with the goal of evolving in each new 
                challenge, both professionally and personally. I like to learn new technologies and 
                improve my knowledge, in order to be updated with the current technologies.
            </p>
            <a class="btn btn-outline-dark" download="docs\FranciscoGouveia_PT_CV.pdf" href="docs\CV_PT_ATUALIZADO.pdf">Curriculum Vitae</a>
        </div>
    </div>
</div>